/* ==================================================================
    - - - - - - - - - - [ GLOBALS ]
   ==================================================================
    [1] Size hack to set default font size to "10px" to make 1rem
        the equivelent of 10px. (2.4rem = 24px, 0.8rem = 8px, etc)
   ================================================================== */

:root {
	font-size: 62.5%; /* [1] */

	color-scheme: light dark;

	/* -----------> DEFAULT DARK MODE COLORS!!!! <------------ */
	/* Main colors */
	--COLOR_BG: light-dark(hsl(30, 100%, 98%), hsl(0, 5%, 10%));
	--COLOR_PRIMARY: hsl(220, 90%, 15%);
	--COLOR_SECONDARY: hsl(303, 71%, 73%);

	/* Text */
	--FONT_COLOR: light-dark(hsl(0, 5%, 10%), hsl(30, 100%, 98%));
}

/* ==================================================================
    - - - - - - - - - - [ BASE STYLES ]
   ==================================================================
    - - [ body, fonts, text elements, media elements ]
    * Styles that are shared across the entire site
   ================================================================== */

body {
	font-size: 1.8rem;
	background-color: var(--COLOR_BG);
	color: var(--FONT_COLOR);
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

::selection {
	background-color: var(--COLOR_SECONDARY);
	color: var(--COLOR_BG);
}

/* ==================================================================
    - - - - - - - - - - [ HEADER ]
   ==================================================================
    * Typically a header has branding and a site nav
   ================================================================== */

header {
	background-color: var(--COLOR_PRIMARY);
}

/* ==================================================================
    - - - - - - - - - - [ %CONTENT ]
   ==================================================================
    - - [ main, section, div, article, aside, form ]
    * replace %CONTENT with one of the above when pasting this
   ================================================================== */

main {
	align-self: center;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 20px repeat(6, 1fr) 20px;
	gap: 10px;
	height: 100%;
	/* max-width: 1200px; */
}

/* ==================================================================
    - - - - - - - - - - [ FOOTER ]
   ==================================================================
    * Typically a footer has branding and important site information
   ================================================================== */

footer {
	background-color: var(--COLOR_PRIMARY);
}
