/* ==================================================================
    - - - - - - - - - - [ GLOBALS ]
   ==================================================================
    [1] Size hack to set default font size to "10px" to make 1rem
        the equivelent of 10px. (2.4rem = 24px, 0.8rem = 8px, etc)
   ================================================================== */

:root {
	color-scheme: light dark;
	font-size: 62.5%; /* [1] */

	/* Dark Mode Colors */
	--bg_dark: hsl(0, 5%, 10%);

	/* Light Mode Colors */
	--bg_light: hsl(45, 40%, 94%);

	/* Main colors */
	--COLOR_BG: light-dark(var(--bg_light), var(--bg_dark));
	--COLOR_PRIMARY: hsl(220, 90%, 15%);
	--COLOR_SECONDARY: hsl(303, 71%, 73%);

	/* Text */
	--FONT_COLOR: light-dark(var(--bg_dark), var(--bg_light));

	&:has(#theme-toggle:not(:checked):not(:indeterminate)) {
		color-scheme: light;
	}

	&:has(#theme-toggle:checked) {
		color-scheme: dark;
	}
}

/* ==================================================================
    - - - - - - - - - - [ BASE STYLES ]
   ==================================================================
    - - [ body, fonts, text elements, media elements ]
    * Styles that are shared across the entire site
   ================================================================== */

body {
	font-size: 1.8rem;
	transition: 250ms ease;
	background-color: var(--COLOR_BG);
	color: var(--FONT_COLOR);
	flex-direction: column;
}

::selection {
	background-color: var(--COLOR_SECONDARY);
	color: var(--COLOR_BG);
}

.noclick {
	user-select: none;
}

/* ==================================================================
    - - - - - - - - - - [ HEADER ]
   ==================================================================
    * Typically a header has branding and a site nav
   ================================================================== */

header {
	background-color: var(--COLOR_PRIMARY);
}

#theme {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 12px 0 0;
	gap: 10px;

	input {
		display: none;
	}

	span {
		user-select: none;
		opacity: 0;
		transform: translateX(0px);
		transition: 250ms ease;
	}

	span:has(~ label:hover) {
		color: var(--FONT_COLOR);
		opacity: 100;
		transform: translateX(-20px);
	}

	label[for='theme-toggle'] {
		display: flex;
		cursor: pointer;
	}

	svg {
		.toggle-stroke {
			stroke: var(--FONT_COLOR);
			stroke-width: 4;
			fill: none;
		}

		.toggle-circle {
			transition: 0.4s ease;
			fill: var(--FONT_COLOR);
		}
	}
}

/* ==================================================================
    - - - - - - - - - - [ %CONTENT ]
   ==================================================================
    - - [ main, section, div, article, aside, form ]
    * replace %CONTENT with one of the above when pasting this
   ================================================================== */

main {
	display: grid;
	justify-items: center;
	gap: 100px;

	form {
		width: min(90vw, 400px);
		display: flex;
		/* gap: 10px; */

		input[type='text'] {
			color: red;
			flex-grow: 2;
			padding-left: 20px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			border: 2px solid hsla(0, 0%, 0%, 0); /* ensure a border so it doesn't resize text when focused */

			&:focus {
				outline: none;
				border: 2px solid var(--FONT_COLOR);
			}
		}

		input[type='submit'] {
			width: 60px;
			height: 40px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			color: var(--FONT_COLOR);
			cursor: pointer;
		}
	}

	#hero {
		/* Background color controlled in .card */
		width: min(90vw, 400px);
		height: 500px;
		border-radius: 24px;
		padding: 20px;
		/* display: flex;
		flex-direction: column;
		gap: 5px; */

		h1 {
			font-size: 2.4rem;
		}

		h2 {
			font-size: 1.6rem;
		}

		.time {
			display: block;
			margin: 10px 0;
		}

		.current,
		.forecast {
			display: flex;
			justify-content: center;
			gap: 10px;
		}

		.forecast {
			font-size: 1.6rem;
		}
	}

	#weekly {
		max-width: 90vw;
		justify-self: center;
		display: flex;
		gap: 30px;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.card {
		background-color: hsl(207, 79%, 68%);
		width: 200px;
	}
}

section {
}

/* ==================================================================
    - - - - - - - - - - [ FOOTER ]
   ==================================================================
    * Typically a footer has branding and important site information
   ================================================================== */

footer {
	background-color: var(--COLOR_PRIMARY);
}
